:root {
  --color50: #eff6ff;
  --color100: #dbeafe;
  --color200: #bfdbfe;
  --color300: #93c5fd;
  --color400: #60a5fa;
  --color500: #3b82f6;
  --color600: #2563eb;
  --color700: #1d4ed8;
  --color800: #1e40af;
  --color900: #1e3a8a;
  --color950: #172554;
}

/* Fonts: 
Montserrat Extra Light
font-family: "montserrat", sans-serif;
font-weight: 200;
font-style: normal;

"roboto", "roboto-condensed", "roboto-mono"
all in 400 and 700 weight
all in normal and italic
*/

* {
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 20% 1fr / clamp(250px, 30%, 400px) 1fr;
  background-color: var(--color800);
}

img {
  width: 100px;
}

/* Sidebar Section */

.sidebar-container {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 20% 1fr 1fr;
  height: 100vh;
  color: var(--color200);
}

.sb-title {
  background-color: ;
  display: grid;
  grid-template-columns: 30% 1fr;
  align-content: center;
  justify-items: center;
  font-size: 2.5rem;
}

.sb-section1, .sb-section2 {
  background-color: ;
  display: grid;
  grid-template-columns: 30% 1fr;
  align-content: start;
  padding: 2rem;
}

.sb-section1 box-icon,
.sb-section2 box-icon {
  justify-self: end;
  padding: 0 2rem 1rem 0;
}

.sidebar-container p {
  padding: 0 0 1rem 0;
  font-size: 1.3rem;
}

.sidebar-container p,
.title {
  justify-self: start;
  align-self: center;
}
/* Header Section */

header {
  background-color: blueviolet;
  display: grid;
  grid-template-columns: 65% 1fr;
}

.header-top-left {
  background-color: thistle;
  display: grid;
  grid-template-columns: 20% 1fr;
}

.header-top-right {
  background-color: olive;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header-bottom-left {
  background-color: salmon;
  display: grid;
  grid-template-columns: 20% 1fr;
}

.header-bottom-right {
  background-color: gold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profile-pic-large {
  grid-area: 1 / 1 / 3 / 2;
  background-color: brown;
}

/* Main Section */

main {
  background-color: pink;
  display: grid;
  grid-template-columns: 65% 1fr;
}

.main-container {
  background-color: firebrick;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, clamp(180px, 30%, 200px));
}

.main-heading {
  grid-area: 1 / 1 / 2 / -1;
}

.card {
  background-color: lightblue;
  height: 250px;
}

.main-sidebar {
  background-color: lawngreen;
  display: grid;
}

.sidebar-heading {
  background-color: seashell;
}

.side-card {
  background-color: mediumorchid;
  height: 500px;
}