* {
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 20% 1fr / clamp(250px, 30%, 400px) 1fr;
}

.sidebar-container {
  background-color: aquamarine;
  grid-area: 1 / 1 / 3 / 2;
}

header {
  background-color: blueviolet;
}

main {
  background-color: pink;
}