:root {
  --color50: #eff6ff;
  --color100: #dbeafe;
  --color200: #bfdbfe;
  --color300: #93c5fd;
  --color400: #60a5fa;
  --color500: #3b82f6;
  --color600: #2563eb;
  --color700: #1d4ed8;
  --color800: #1e40af;
  --color900: #1e3a8a;
  --color950: #172554;
}

/* Fonts: 
Montserrat Extra Light
font-family: "montserrat", sans-serif;
font-weight: 200;
font-style: normal;

"roboto", "roboto-condensed", "roboto-mono"
all in 400 and 700 weight
all in normal and italic
*/

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: 20% 1fr / clamp(250px, 30%, 400px) 1fr;
  background-color: var(--color800);
  font-family: 'roboto', sans-serif;
}

img {
  width: 100px;
}

/* Sidebar Section */

.sidebar-container {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 20% 1fr 1fr;
  height: 100vh;
  color: var(--color200);
  font-weight: 400;
}

.sb-title {
  background-color: ;
  display: grid;
  grid-template-columns: 30% 1fr;
  align-content: center;
  justify-items: center;
  font-size: 2.5rem;
}

.sb-section1, .sb-section2 {
  background-color: ;
  display: grid;
  grid-template-columns: 30% 1fr;
  align-content: start;
  padding: 2rem;
}

.sb-section1 box-icon,
.sb-section2 box-icon {
  justify-self: end;
  padding: 0 2rem 1rem 0;
}

.sidebar-container p {
  padding: 0 0 1rem 0;
  font-size: 1.3rem;
}

.sidebar-container p:first-of-type {
  font-weight: bold;
}

.sidebar-container p,
.title {
  justify-self: start;
  align-self: center;
}


/* Header Section */

header {
  background-color: var(--color200);
  display: grid;
  grid-template-columns: 65% 1fr;
  color: var(--color900);
}

.header-top-left {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
}

.header-top-right {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  justify-items: end;
  padding: 0 1rem 0 0;
}

.username {
  font-size: 1.1rem;
  font-weight: 700;
  margin-left: 2rem;
}

.header-top-right img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--color50);
}

.header-bottom-left {
  display: grid;
  grid-template-columns: 20% 1fr;
  font-weight: 700;
}

.greeting {
  font-size: 1.5rem;
  align-self: end;
  padding-bottom: 0.2rem;
}

.username-lge {
  font-size: 2rem;
  padding-top: 0.2rem;
}

.header-bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

button {
  border: none;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  background-color: var(--color800);
  color: var(--color200);
}

.search-icon {
  justify-self: center;
  margin-right: 1rem;
}

.search-bar {
  background-color: var(--color200);
  height: 30%;
  border: none;
  border-radius: 50px;
  margin-right: 2.5rem;
  background-color: var(--color50);
}

.header-bottom-left img {
  grid-area: 1 / 1 / 3 / 2;
  justify-self: center;
  align-self: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--color50);
}

/* Main Section */

main {
  display: grid;
  grid-template-columns: 65% 1fr;
}

.main-container {
  background-color: var(--color300);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, clamp(300px, 30%, 400px));
  padding: 0 2rem;
  align-items: start;
  justify-content: space-around;
}

.main-heading {
  grid-area: 1 / 1 / 2 / -1;
  align-self: center;
  padding: 1.2rem 0;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color900);
}

.card {
  background-color: var(--color200);
  height: 250px;
  padding: 2rem 2rem;
  border-radius: 8px;
  color: var(--color900);
  border-left: 10px solid var(--color50);
}

.card h3 {
  font-weight: 700;
  font-size: 1.3rem;
  padding-bottom: 0.3rem;
}

.card p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  height: 65%;
  max-width: 200px;
  line-height: 1.2rem;
  overflow: clip;
}

.icon-group {
  text-align: end;
  padding-top: 1rem;
}

.icon-group box-icon {
  padding-left: 1rem;
}

.main-sidebar {
  background-color: lawngreen;
  display: grid;
}

.sidebar-heading {
  background-color: seashell;
}

.side-card {
  background-color: mediumorchid;
  height: 500px;
}